*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: inter;
    src: url(fonts/static/Inter-Regular.ttf);
}

.img1{
    width:33.33%;
    height: 254px;
    position: absolute;
    z-index: 2;
}

.img2{
    width: 33.33%;
    height: 254px;
    left: 371px;
    position: relative;
    z-index: 1;
}

.img3{
    width: 33.33%;
    height: 254px;
    left: 859px;
    z-index: 2;
    position: absolute;
}

.d-flex{
    display: flex;
}

p{
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    font-family: inter;
    color: black;
    position: absolute;
    top: 195px;
    left: 600px;
    z-index: 3;
    color: #FFFFFF;
    line-height: 14.52px;
    margin: 0;
}
